button {
  color: white;
  width: 100%;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: #336B87;
  border-color: #336B87;
  margin-bottom: 3px;
}

button:hover {
  color: white;
  background-color: #90AFC5;
  border-color: #90AFC5;
}

.container{
  text-align: center;
}
