<div>
  <input type="text" class="form-control" required [(ngModel)]="message.from" placeholder="Pseudo">
  <textarea  class="form-control input" rows="4" required  [ngModel]="message.content | userInput"  (ngModelChange)="message.content =$event" placeholder="Message"></textarea>
  <button class="btn btn-primary" (click)="sendMessage()"> Send </button>

  <span>Emot:</span>
  <button class="btn btn-primary emots" (click)="addEmot(':)')">🙂</button>
  <button class="btn btn-primary emots" (click)="addEmot(';)')">😉</button>
  <button class="btn btn-primary emots" (click)="addEmot(':\'(')">😪</button>
  <button class="btn btn-primary emots" (click)="addEmot(':(')">🙁</button>
  <button class="btn btn-primary emots" (click)="addEmot(':D')">😃</button>
  <button class="btn btn-primary emots" (click)="addEmot('️:p')">😛</button>
  <button class="btn btn-primary emots" (click)="addEmot('<3')">️️❤️</button>
  <button class="btn btn-primary emots" (click)="addEmot(':o')">️️😮️</button>
</div>


