div>* {
  margin-right:10px;
  margin-bottom:10px;
}

button {
  background-color: #02930f;
}

button:hover {
  background-color: #23ed35;
}
.emots{
  background-color: #FFD700;
  color: black;
}

.emots:hover{
  background-color: #FFFF00;
}
