h1 {
  text-align: center;
  background-color: #763626;

  overflow: hidden;
  text-overflow: ellipsis;

  color: #FFFFFF;

  width: 100%;
  padding: 20px;
  margin-top: 15px;
  margin-bottom: 30px;
  border: 4px solid #3a0b1c;
  border-radius: 40px;
  box-shadow: 10px 10px 20px black;
}

#mainChat {
  background-color: #ffffff;
}

#channelBar {
  background-color: #2A3132;
}

h3 {
  color: #763626;
  text-align: center;
  margin-top: 10px;
}
