
<div class="row justify-content-md" >
  <div id="channelBar" class="col-md-3 card">
    <div class="container">
      <h3><b>Channel list</b></h3>
      <app-chanel-form></app-chanel-form>
      <app-chanel-list></app-chanel-list>
    </div>
  </div>
  <div id="mainChat" class="col-md-9 card">
    <div class="container">
      <h1> {{staticGetTitle()}} </h1>
      <span *ngIf="isChannel()">
       <p> <img src="../favicon.png">
         <br> <span class="first-text">Join a channel or create a new one</span></p>
      </span>
      <span *ngIf="!isChannel()">
        <app-message-list></app-message-list>
        <app-message-form></app-message-form>
      </span>
    </div>
  </div>
</div>

