<span *ngIf="this.placedFrame === 1">
  <br>
  <img [src]="getPicture() | linkParser" /><br>
</span>
<span *ngIf="this.placedFrame === 2">
  <br>
  <iframe width="640" height="360" [src]="getYoutubeUrl() | linkParser"></iframe><br>
</span>
<span *ngIf="this.placedFrame === 3">
  <br>
  <iframe width="640" height="360" [src]="getTwitter() | linkParser"></iframe><br>
</span>
<span *ngIf="this.placedFrame === 4">
  <br>
  <iframe width="640" height="360" [src]="getInstagram() | linkParser"></iframe><br>
</span>

