<span *ngIf="checkYoutube()">
  <br>
  <iframe width="640" height="360" [src]="getYoutubeUrl() | linkParser"></iframe><br>
</span>
<span *ngIf="checkTwitter()">
  <br>
  <iframe width="640" height="360" frameborder="no" [src]="getTwitter() | linkParser"></iframe><br>
</span>
<span *ngIf="checkInsta()">
  <br>
  <iframe width="640" height="360" frameborder="no" [src]="getInstagram() | linkParser"></iframe><br>
</span>
<span *ngIf="checkPicture()">
  <br>
  <img [src]="getPicture() | linkParser" /><br>
</span>
