<!-- On boucle sur tous les messages de notre liste de messages stockés dans messageList -->
<div *ngFor="let currentChanel of chanelList.reverse() ">
  <!--CurrentMessage est le message courant dans la boucle -->
  <!--On donne notre message courant en Input (en entrée, parametre) du composant Message qui va lui l'afficher.-->
  <app-chanel [chanel]="currentChanel"></app-chanel>
</div>

<p><button class="btn btn-primary" id="previous-chanel" (click)="previousPageChanel()" [disabled]="i == 1">Précédent</button>
{{i}}
  <button class="btn btn-primary" id="next-chanel" (click)="nextPageChanel()" [disabled]="chanelList.length != 20 && i !=1">Suivant</button></p>
